body {
	margin:20px;
	background-color: gray;
}

h1 {
  font-size: 1.5em;
}

#feed {
	margin:0;
	padding:0;
}

.date {
	color:#666;
}

img {
	height: 400px;
	width: 500px;
	padding: 20px;
	border: 5px solid white;
}
